@import url(styles/header.css);

:root {
    --cor-de-fundo: #20b0db;
    --cor-cabecalho: #d3ddd1b2;
    
}

body{
    background-color: var(--cor-de-fundo);
    margin: 0;

}

h1{
    font-weight: normal;
}